<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
</head>

<body>

    <h1>ERROR</h1>
    <h1>
        <%= data.errorCode %>
    </h1>
    <br>

    <button class="button" onclick="backToHome()">Back to Home</button>

    <script>
        function backToHome() {
            window.location.href = "http://localhost:3000";
        }
    </script>





</body>

</html>