<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Secure site</title>
    <style>
        html {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
    </style>
</head>

<body>


    <p>You have been logged out</p>
    <button class="button" onclick=returnHome()>return to home</button>


    <script>
        function returnHome() {


            window.location.href = "http://localhost:3000/";
        }
    </script>

</body>

</html>