<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Logout</title>

    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style/style.css">
    <style>
        html {
            font-family: Helvetica, sans-serif;
            font-weight: bold;
            font-size: 30px;
            width: 70%;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin: 20% 0 0 15%;
        }
    </style>
</head>

<body>


    <p>You have been logged out</p>
    <button class="button btn btn_color" style="margin-top: 20px; font-size: 30px;" onclick=returnHome()>Return to
        Home</button>


    <script>
        function returnHome() {


            window.location.href = "http://localhost:3000/";
        }
    </script>

</body>

</html>