* {
  font-family: Helvetica, sans-serif;
  
}

.slidecontainer {
  width: 80%; /* Width of the outside container */
  margin-left: 10%;
  

}
/* The slider itself */
.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  transition: opacity .2s;
  outline: none;
  background: #d4d4d4;
  border-radius: 40px;
  /* border: 1px solid #d4d4d4; */



}
/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: cyan;
  cursor: pointer

} */

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* canvas{

  width:50% !important;
  height:500px !important;

} */


#chart-div {


  height: 500px;
  border: 1px solid cyan;
  justify-content: center;

  margin: 20px 0 0 0;

}

#main-view {
  width:70%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 15%;

}

.auto-manual-button {
  width: 30%;
  border: 1px solid cyan;
}


.fan-raw-data-divs {
  border: 1px solid cyan;
  height: 90px;
  border-collapse: collapse;
  

}


#fan-raw-data {

  overflow: hidden; 
  margin: 10px 0 0 0;
}
#pressure-div {
  width: 50%;
  float:left; 
  
}
#speed-div {
  overflow: hidden; 
}
#setpoint-div {
  width: 50%;
  float:left; 
}
#mode-div {
  overflow: hidden; 
}

.fan-raw-data-headings {
  top: 5px;
  position:relative;
}
.fan-raw-data-values {
  top: 0px;
  font-size: 40px;
  position: relative;

}

#fan-control {
  border: 1px solid cyan;


  padding: 10px 0 10px 0;

}




.button-activated {
  background-color: #b8f9ff !important;
}


.button-deactivated {
  background-color:white;
}


.slider-submit-button {
  margin-top: 10px;
}

.slider-output {
  position: relative;
  top: 5px;
}


.warning-below-graph {
  color: red;
  border: 1px solid red;
  margin: 10px 0 10px 0;
  padding: 5px 0 5px 0;

 
}

.btn{

  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 7px 20px;
  font-size: 16px;
  cursor: pointer;
}

.btn_color{

  border-color: cyan;
  color: cyan;

}

.btn_color:hover {
  background-color: cyan;
  color: white;
}


#time-period-input-div{

  
  border: 1px solid cyan;
  margin: 10px 0 10px 0;
  padding: 5px 0 10px 0;
 

}

.time-and-date {
  
  display: flex;

  text-align: center;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  left: 25%


}

.time-and-date-inputs {
  font-size: 30px;
}

/* #start-time {

  position: relative;
  left: 15%;
} 

#end-time {

  position: relative;
  right: 15%;
}

#start-date {
  float: left;
} 

#end-date {
  float: right;
} */

#time {
  /* border: 1px solid cyan; */
}


.time-date-labels{
  font-size: 20px;
}

.time-date-input-div {
  position: relative;
}

.bot-buttons {
  width: 50%;
  
}