* {
  font-family: Helvetica, sans-serif;
}


.slidecontainer {
  width: 50%; /* Width of the outside container */
  margin-left: 25%;
  

}
/* The slider itself */
.slider {
  appearance: none;
  width: 100%;
  height: 5px;
  transition: opacity .2s;
  outline: none;
  background: #d4d4d4;
  border-radius: 40px;
  /* border: 1px solid #d4d4d4; */



}
/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: cyan;
  cursor: pointer

} */

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* canvas{

  width:50% !important;
  height:500px !important;

} */


#chart-div {

  width:70%;
  height: 500px;
  border: 1px solid cyan;
  justify-content: center;

  margin: 20px 0 0 15%;

}

#main-view {
  text-align: center;
  justify-content: center;
  align-items: center;

}

.auto-manual-button {
  width: 100px;
}